@CHARSET "UTF-8";

table, td, tr {
	border: 1px solid black;
	border-collapse: collapse;
}

th{
	border: 1px solid black;
	background-color: orange;	
}
.main {
	display: inline;
	text-align: center;
	width: 100%;
}

table#table1 {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

table#table2 {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
#col1, #co15{
	width : 100px;
}
#col2{
	width : 300px;
}
#col3, #co14{
	width : 100px;
}
h1, h2, h3, h4{
	text-align: center;
}
hr{
	width : 400px;
}